{% extends 'side-bar.html.twig' %}

{% block title %}Ajouter une Réclamation{% endblock %}

{% block body %}
    <div style="margin-top: 200px;">

    <h1>Ajouter une Réclamation</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
