{% extends 'base.html.twig' %}

{% block title %}Modifier une Réclamation{% endblock %}

{% block body %}
    <h1>Modifier une Réclamation</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}