<form method="post" action="{{ path('quiz_delete', {'id': quiz.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce quiz ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="fas fa-trash"></i> <!-- Font Awesome trash icon -->
    </button>
</form>