{% extends 'base.html.twig' %}

{% block title %}Commande annulée{% endblock %}

{% block body %}
    <h1>La commande a été annulée</h1>
    <p>Le paiement n'a pas été effectué. Vous pouvez essayer à nouveau.</p>
{% endblock %}