{% extends 'base.html.twig' %}

{% block title %}Commande réussie{% endblock %}

{% block body %}
    <h1>Merci pour votre commande !</h1>
    <p>Votre commande  a été confirmée avec succès.</p>
    <p>Le montant total est de  EUR.</p>
{% endblock %}