<form method="post" action="{{ path('app_gestion_classe_delete', {'id': classe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette classe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>