{% extends 'side-bar.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
<div class="container " style="margin-top: 100px !important; padding: 0 15px !important;">
    <h1 class="mb-4">Liste des commandes</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande|date('d/m/Y') }}</td>
                <td>{{ commande.statut }}</td>
                <td>
                    <a href="{{ path('app_commande_details', {'id': commande.id}) }}">Voir les détails</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
