{% extends 'base.html.twig' %}

{% block title %}Choix du Paiement{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Choisissez votre mode de paiement</h1>

    <div class="d-flex justify-content-center gap-3">
        <!-- Bouton pour paiement par carte -->
        <form action="/commander-et-payer" method="POST"  data-turbo="false">
            <button type="submit" class="btn btn-primary">Payer par Carte</button>
        </form>
        <!-- Bouton pour paiement à l'administration -->
        <a href="{{ path('app_paiement_livraison') }}" class="btn btn-secondary">Payer à l'Administration</a>
    </div>

    <!-- Retour au panier -->
    <div class="text-center mt-4">
        <a href="{{ path('app_panier_view') }}" class="btn btn-warning">Retour au Panier</a>
    </div>
{% endblock %}
