{% extends 'side-bar.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
<div class="container " style="margin-top: 100px !important; padding: 0 15px !important;">

<h1 class="mb-4">Edit Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_index') }}">back to list</a>

    {{ include('produit/_delete_form.html.twig') }}
</div>
{% endblock %}
